/* src/index.css */
:root {
  --primary-red: #a40505;
  --primary-black: #3b0505;
  --text-white: #f5f5f5;
  --border-color: rgba(255, 0, 0, 0.973);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-black);
  color: var(--text-white);
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}